<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<img src="/images/r1.jpeg" alt="">-->
<h1>Create product</h1>
<p>
    <a href="/products">Product list</a>
</p>
<form action="" method="post">
    <table>
        <tr>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td><input type="text" name="price"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create product"></td>
        </tr>
    </table>
</form>
</body>
</html>
