<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/products/create">Create product</a>
<table border="1">
    <tr>
        <th> Name</th>
        <th>price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td><a th:href="@{/products/edit/__${product.getId()}__ }">Edit</a></td>
            <td><a th:href="@{/products/delete/__${product.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>
